<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listviaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Informacion de Viaje</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-label>Costo: </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Fecha: </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Inicio: </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Destino</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>

<ion-button (click)="confirmar()">Confirmar</ion-button>